
@media (min-width: 801px) {
    .container {
        display:flex;
        margin: 8px 0 ;
     }

    .container > *:not(*:first-child) {
        margin-left: 32px;
    }
}

@media (max-width: 800px) {
    .container > * {
        display: block;
        margin: auto;
        margin-bottom: 32px;
    }
}

.align-right {
    text-align: right;
}